<!--registrar historia clinica-->
<a name="arriba"></a>
<app-navbar></app-navbar> <!--Es el menú principal / ARARECER EN TODAS LAS VENTANAS-->
<div class="container1">
    <div class="row" style="margin-top : 10px;">
        <div class="row">
            <mat-card>
                <p>
                    <btn class="btn btn-light ovalado text-black-alpha" [routerLink]="'/'">Inicio</btn>
                    <btn class="btn btn-light ovalado text-black-alpha" [routerLink]="'/registrar'">Registrar</btn>
                </p> <!--miga de pan-->
                <p></p><br>
                <div class="row">
                    <div class="col-8"> </div>
                    <div class="form-group col-3 text-center" align="right">
                        <input type="text" (change)="busquedausuario(cedula)" class="form-control" name="filterPost" placeholder="Identificacion" [(ngModel)]="cedula">
                    </div>
                    <div class="col-1 ovalado" align="left">
                        <button type="button" (change)="busquedausuario(cedula)" class="btn btn-sm btn-secondary ovalado"><i class="fas fa-search"></i></button>
                    </div>
                </div>                
                <p></p>

                <div class="container text-center">
                    <img src="../../../assets/icon.png" width="100" height="100">
                </div>

                <h1 class="text-center">Registrar Historia Clinica</h1>


                <form (ngSubmit)="formSubmit()">
                    <!-- <div class="col-4">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Fecha</mat-label>
                                <input type="datetime-local" required [(ngModel)]="historia_clinica.fecha" name="fecha" matInput
                                    placeholder="Digite la fecha">
                            </mat-form-field>
                        </div> -->
                    <p>1. Datos del Paciente</p>
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Apellidos</mat-label>
                                <input required [(ngModel)]="historia_clinica.apellido" name="apellido" matInput
                                    placeholder="Digite su apellido"> <!--variable--> <!--si no se llena no lo deja pasar-->
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Nombres</mat-label>
                                <input required [(ngModel)]="historia_clinica.nombre" name="nombre" matInput
                                    placeholder="Digite su nombre">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Identificacion</mat-label>
                                <input required [(ngModel)]="historia_clinica.identificacion" name="identificacion"
                                    type="identificacion" matInput placeholder="Digite su identificacion">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Fecha de Nacimiento</mat-label>
                                <input required [(ngModel)]="historia_clinica.fecha_nacimiento" name="fecha_nacimiento"
                                    matInput placeholder="Digite su fecha de nacimiento">
                              </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Lugar de Nacimiento</mat-label>
                                <input required [(ngModel)]="historia_clinica.lugar_nacimiento" name="lugar_nacimiento"
                                    matInput placeholder="Digite su lugar de nacimiento">
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Edad</mat-label>
                                <input required [(ngModel)]="historia_clinica.edad" name="edad" type="edad" matInput
                                    placeholder="Digite su edad">
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Sexo</mat-label>
                                <mat-select placeholder="Sexo" [(ngModel)]="historia_clinica.sexo" matInput name="sexo">
                                    <mat-option value="Femenino">
                                      Femenino
                                    </mat-option>
                                    <mat-option value="Masculino">
                                        Masculino
                                      </mat-option>
                                  </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>EPS</mat-label>
                                <input required [(ngModel)]="historia_clinica.eps" name="eps" matInput
                                    placeholder="Digite su Eps">
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Direccion</mat-label>
                                <input required [(ngModel)]="historia_clinica.direccion" name="direccion" matInput
                                    placeholder="Digite su direccion"> 
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-select placeholder="Departamento" matInput name="departamentos" [(ngModel)]="historia_clinica.codigo_departamento" (selectionChange)="buscarmunicipios($event.value)">
                                  <mat-option  *ngFor="let departamento of listadepartamentos" [value]="departamento.codigo"   >
                                    {{departamento.nombre}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-select placeholder="Municipios" [(ngModel)]="historia_clinica.codigo_municipio" matInput name="municipio">
                                  <mat-option *ngFor="let municipio of listamunicipios" [value]="municipio.codigo">
                                    {{municipio.nombre}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Regimen</mat-label>
                                <mat-select placeholder="Sexo" [(ngModel)]="historia_clinica.regimen" matInput name="regimen">
                                    <mat-option value="Contributivo">
                                      Contributivo
                                    </mat-option>
                                    <mat-option value="Subsidiado">
                                        Subsidiado
                                      </mat-option>
                                  </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Estado Civil</mat-label>
                                <mat-select placeholder="estado_civil" [(ngModel)]="historia_clinica.estado_civil" matInput name="estado_civil">
                                    <mat-option value="Soltero">
                                        Soltero
                                    </mat-option>
                                    <mat-option value="Casado">
                                        Casado
                                      </mat-option>
                                      <mat-option value="Viudo">
                                        Viudo
                                    </mat-option>
                                    <mat-option value="Divorciado">
                                        Divorciado
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Email</mat-label>
                                <input [(ngModel)]="historia_clinica.email" name="email" type="email" matInput
                                    placeholder="Digite su email">
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Telefono</mat-label>
                                <input required [(ngModel)]="historia_clinica.telefono" name="telefono" matInput
                                    placeholder="Digite su telefono">
                            </mat-form-field>
                        </div>
                    </div>
                    <p>2. Motivo de la Consulta</p>
                    <div class="row">
                        <mat-form-field class="full-width" appearance="outline">
                            <input [(ngModel)]="historia_clinica.motivo_consulta" name="motivo_consulta" matInput
                                placeholder="Digite...">
                        </mat-form-field>
                    </div>
                    <p>3. Examen Fisico por Sistemas</p>
                    <div class="row">
                        
                        <mat-accordion class="example-headers-align">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    Sistema Neurologico
                                  </mat-panel-title>
                                  <mat-panel-description>
                                    La revisión por sistemas no debe de estar sujeta a repetición de síntomas
                                  </mat-panel-description>                                  
                                </mat-expansion-panel-header>                          

                                <mat-form-field class="full-width" appearance="outline">
                                    <input [(ngModel)]="historia_clinica.examen_fisico_Neurologico" name="Sistema Neurologico" matInput
                                        placeholder="1. Sistema Neurologico...">
                                </mat-form-field>                           
                              </mat-expansion-panel>
                        </mat-accordion>
                        <p></p>
                        <mat-accordion class="example-headers-align">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    Sistema Cardiovascular
                                  </mat-panel-title>
                                  <mat-panel-description>
                                    Para lograr una buena aproximación del examen cardiovascular es conveniente recordar la función del corazón.
                                  </mat-panel-description>                                  
                                </mat-expansion-panel-header>                          

                                <mat-form-field class="full-width" appearance="outline">
                                    <input [(ngModel)]="historia_clinica.examen_fisico_Cardiovascular" name="Sistema Cardiovascular" matInput
                                        placeholder="2. Sistema Cardiovascular...">
                                </mat-form-field>                          
                              </mat-expansion-panel>
                        </mat-accordion>
                        <p></p>
                        <mat-accordion class="example-headers-align">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    Sistema Respiratorio
                                  </mat-panel-title>
                                  <mat-panel-description>
                                    El médico observa el tórax para determinar si la frecuencia y los movimientos respiratorios son normales.
                                  </mat-panel-description>                                  
                                </mat-expansion-panel-header>                          

                                <mat-form-field class="full-width" appearance="outline">
                                    <input [(ngModel)]="historia_clinica.examen_fisico_Respiratorio" name="Sistema Respiratorio" matInput
                                        placeholder="3. Sistema Respiratorio...">
                                </mat-form-field>                        
                              </mat-expansion-panel>
                        </mat-accordion>
                        <p></p>
                        <mat-accordion class="example-headers-align">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    Sistema Musculoesqueletico
                                  </mat-panel-title>
                                  <mat-panel-description>
                                    El sistema musculoesquelético comprende los huesos, los músculos, las articulaciones, los ligamentos, los tendones y las bolsas sinoviales
                                  </mat-panel-description>                                  
                                </mat-expansion-panel-header>                          

                                <mat-form-field class="full-width" appearance="outline">
                                    <input [(ngModel)]="historia_clinica.examen_fisico_Musculoesqueletico" name="Sistema Musculoesqueletico" matInput
                                        placeholder="4. Sistema Musculoesqueletico...">
                                </mat-form-field>                     
                              </mat-expansion-panel>
                        </mat-accordion>
                        <p></p>
                        <mat-accordion class="example-headers-align">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    Sistema Genitourinario
                                  </mat-panel-title>
                                  <mat-panel-description>
                                    Explorar de forma correcta, segura y respetuosa para el paciente
                                  </mat-panel-description>                                  
                                </mat-expansion-panel-header>                          

                                <mat-form-field class="full-width" appearance="outline">
                                    <input [(ngModel)]="historia_clinica.examen_fisico_Genitourinario" name="Sistema Genitourinario" matInput
                                        placeholder="5. Sistema Genitourinario...">
                                </mat-form-field>                     
                              </mat-expansion-panel>
                        </mat-accordion>
                        <p></p>
                        <mat-accordion class="example-headers-align">
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                  <mat-panel-title>
                                    Sistema Tegumentario
                                  </mat-panel-title>
                                  <mat-panel-description>
                                    la evaluación de la flexibilidad (textura), la presencia de formación de cicatrices, el color de la piel y la integri-dad de la piel.
                                  </mat-panel-description>                                  
                                </mat-expansion-panel-header>                          

                                <mat-form-field class="full-width" appearance="outline">
                                    <input [(ngModel)]="historia_clinica.examen_fisico_Tegumentario" name="Sistema Tegumentario" matInput
                                        placeholder="6. Sistema Tegumentario...">
                                </mat-form-field>                     
                              </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <br>
                    <p>4. Signos Vitales</p>
                    <div class="row">
                        <div class="col-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Presion Arterial /mmHg</mat-label>
                                <input required [(ngModel)]="historia_clinica.presion_arterial" name="presion_arterial" matInput
                                    placeholder="Digite Presion Arterial">
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Frecuencia Cardiaca /lpm</mat-label>
                                <input required [(ngModel)]="historia_clinica.frecuencia_cardiaca" name="frecuencia_cardiaca" matInput
                                    placeholder="Digite frecuencia Cardiaca">
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Frecuencia Respiratoria /rpm</mat-label>
                                <input required [(ngModel)]="historia_clinica.frecuencia_respiratoria" name="frecuencia_respiratoria" type="frecuencia_respiratoria" matInput
                                    placeholder="Digite Frecuencia Respiratoria">
                            </mat-form-field>
                        </div>
                        <div class="col-3">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Temperatura /C°</mat-label>
                                <input required [(ngModel)]="historia_clinica.temperatura" name="temperatura" matInput
                                    placeholder="Digite temperatura">
                            </mat-form-field>
                        </div>
                    </div>
                    <p>5. Medidas antropomedicas</p>
                    <div class="row">
                        <div class="col-4">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Peso</mat-label>
                                <input required [(ngModel)]="historia_clinica.peso" name="Peso" matInput
                                    placeholder="Digite su Peso" (change)="imc()"> <!--variable--> <!--si no se llena no lo deja pasar-->
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Talla</mat-label>
                                <input required [(ngModel)]="historia_clinica.talla" name="talla" matInput
                                    placeholder="Digite su Talla" (change)="imc()">
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>IMC</mat-label>
                                <input readonly required [(ngModel)]="historia_clinica.imc" name="IMC"
                                    type="IMC" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <p>6. Evolucion</p>
                    <div class="row">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Evolucion</mat-label>
                            <input [(ngModel)]="historia_clinica.evolucion" name="evolucion" matInput
                                placeholder="Digite Evolucion">
                        </mat-form-field>
                    </div>
                    <p>7. Diagnostico y Pocedimientos</p>
                    <div class="row">
                        <div class="form-group col-6">
                            <input type="text" (change)="busquedaDiagosticos(filterDiagnosticos)" class="form-control" name="filterPost" placeholder="Busqueda..." [(ngModel)]="filterDiagnosticos">
                        </div>
                    </div>                    
                    <p></p>
                    <div class="row">
                            <mat-form-field class="full-width" appearance="outline">
                                    <mat-select  placeholder="Diagnosticos..." [(ngModel)]="historia_clinica.diagnostico" matInput name="diagnosticos">
                                        <mat-option *ngFor="let diagnosticos of listadiagnosticos" (click)="agregardiagnostico(diagnosticos)">
                                        {{diagnosticos.descripcion}}
                                        </mat-option>
                                    </mat-select>                                          
                            </mat-form-field>
                        <div>
                            <mat-list *ngFor="let diagnosticosact of listadodediagnosticosactuales">
                                <div class="row">
                                    <div class="col-11">
                                        <mat-list-item> Codigo: {{diagnosticosact.codigo_diagnostico}}  {{diagnosticosact.descripcion}}</mat-list-item>
                                    </div>
                                    <div class="col-1"><button type="button" (click)="eliminardiagnosticosHistoria(diagnosticosact.id)" class="btn btn-sm btn-secondary ovalado">
                                        <i class="fa fa-times"></i></button>
                                    </div>
                                </div>                                                          
                            </mat-list>
                        </div>
                        <p></p>
                        <div class="col-12 ovalado" align="center">
                            <button type="button" (click)="agregardiagnosticosHistoria()" class="btn  btn-success ovalado">
                                <i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    <p>8. Tratamiento/Medicamentos</p>
                    <div class="row">
                        <div class="form-group col-6">
                            <input type="text" (change)="buscarTratamientos(filterTratamientos)" class="form-control" name="filterTratamientos" placeholder="Busqueda..." [(ngModel)]="filterTratamientos">
                        </div>
                    </div>
                    <p></p>
                    <div class="row">
                            <mat-form-field class="full-width" appearance="outline">
                                    <mat-select  placeholder="Tratamientos..." [(ngModel)]="historia_clinica.tratamiento" matInput name="tratamiento">
                                        <mat-option *ngFor="let tratamientos of listatratamiento"  (click)="agregartratamiento(tratamientos)">
                                        {{tratamientos.descripcioncomercial}}
                                        </mat-option>
                                    </mat-select>                                          
                            </mat-form-field>
                        <div>
                            <mat-accordion class="example-headers-align">
                                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle *ngFor="let tratamientosact of listadodetratamientosactuales">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                             {{tratamientosact.descripcionatc}}
                                        </mat-panel-title>
                                        <mat-panel-description>
                                            {{tratamientosact.producto}}
                                        </mat-panel-description>
                                    </mat-expansion-panel-header>                                      
                                        <mat-form-field>
                                            <input matInput placeholder="Principio Activo">
                                            {{tratamientosact.principioactivo}}
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input matInput placeholder="Estado CUM">
                                            {{tratamientosact.estadocum}}
                                        </mat-form-field>
                                        <mat-form-field>
                                            <input matInput placeholder="Descripcion Comercial">
                                            {{tratamientosact.descripcioncomercial}}
                                        </mat-form-field>
                                        <mat-action-row>
                                            <button type="button" class="btn btn-secondary ovalado" color="primary" (click)="eliminarTratamientosHistoria(tratamientosact.id)"><i class="fa fa-times"></i></button>
                                        </mat-action-row>
                                </mat-expansion-panel>                       
                            </mat-accordion>


                        </div>




                        <p></p>
                        <div class="col-12 ovalado" align="center">
                            <button type="button" (click)="agregarTratamientoHistoria()" class="btn  btn-success ovalado">
                                <i class="fa fa-plus"></i></button>
                        </div>
                    </div>
                    

                    <p>9. Observaciones y Recomendaciones</p>
                    <div class="row">
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Observaciones</mat-label>
                            <input [(ngModel)]="historia_clinica.observaciones" name="observaciones" matInput
                                placeholder="Digite sus observaciones">
                        </mat-form-field>
                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Recomendaciones</mat-label>
                            <input [(ngModel)]="historia_clinica.recomendaciones" name="recomendaciones" matInput
                                placeholder="Digite las recomendaciones">
                        </mat-form-field>
                    </div>

                    <!--BOTON DE REGISTRAR Y LIMPIAR HISTORIA CLINICA-->
                    <div class="row">
                        <div class="col-11 ovalado" align="center">
                            <button class="btn btn-success ovalado">Registrar</button>
                            <button class="btn btn-light ovalado" type="reset"
                                style="margin-left: 20px;">Limpiar</button>
                        </div>

                     <!--BOTON DE EXIT HISTORIA CLINICA-->
                        
                        <div class="col-1 ovalado" align="right">
                            <button type="button" (click)="exit()" class="btn btn-secondary ovalado">
                                <i class="fa fa-times"></i></button>
                        </div>
                    </div>
                </form>
                <br>
            </mat-card>
        </div>
    </div>
</div>
 <!--FLECHA DE ACCESO RAPIDO HISTORIA CLINICA/ ESTILO EN CSS-->
<a class="ir-arriba" href="/registrar#arriba"><i class="fa fa-arrow-up"></i></a>