.ovalado{
    border-radius: 27px;
}

.container1{
    padding: 50px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0); /*contenedor*/
    width: 90%;
    justify-content: center;
    align-items: center;
  }


.ir-arriba{
    width: 50px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #14A44D;
    background-repeat:no-repeat;
    font-size:20px;
    border-radius: 50%;
    color:white;
    cursor:pointer; 
    position:fixed; 
    bottom:50px;
    right:50px;
    z-index:2;
  }

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}


