  .container1{
    margin: auto;
    background-color: rgba(255, 255, 255, 0); /*contenedor*/
    /* width: 800px; */
    /* padding: 30px; */
  }
  
  ul, li { /*mantener la alineacion*/
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: auto;
    height: 600px;
  }
  
  .ovalado{
    border-radius: 27px;
}

.text-white-alpha {
  color: #ffffff;
}

.text-black-alpha {
  color: rgb(0, 0, 0);
}
  
  /*imagen*/
ul.slider li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s;
  background:rgba(255, 255, 255, 0);
}
  
  ul.slider li img{
    width: auto;
    height: 100%;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
