<!--AGENDAR CITA-->

<app-navbar></app-navbar><!--Es el menú principal / ARARECER EN TODAS LAS VENTANAS-->
<div class="container">
    <div class="container1 mt60">
        <p><btn class="btn btn-light ovalado text-black-alpha" [routerLink]="'/'">Inicio</btn><btn class="btn btn-light ovalado text-black-alpha" [routerLink]="'/cita'">Agenda tu Cita</btn></p> <!--MIGA DE PAN-->
        <ul class="slider mt60 row">
            
            <li id="slide1">
                <img src="assets\medicocita.png" alt="Agenda tu Cita">&nbsp;
            </li>
            <div class="mt60" align="right">
                <div class="offset-md-5 mt60" >
                    <div class="mt60">
                        <h1>Somos expertos en el <br>
                            <p class="text-danger"> cuidado de tu salud</p>
                        </h1>
    
                        <br>
                        <p>A traves de esta plataforma puedes acceder <br> a los servicios que tenemos disponibles para
                            ti.</p>
                        <br>
                        <h1>Nuestros Horarios <i class='fa fa-calendar-check-o'></i></h1>
                        <p>Lunes - Viernes 8 a.m - 3 p.m <br>Sabados 8 a.m - 12 p.m</p>
                        <br>
                        <button class="btn btn-success ovalado" (click)="agendar()">Agenda Tu Cita <i
                                class='fa fa-calendar-check-o'></i></button>&nbsp;
                        <button class="btn btn-secondary ovalado" [routerLink]="'/nosotros'">
                            Mas informacion <i class="fa-sharp fa-solid fa-circle-info"></i>
                        </button>
                    </div>
                </div>
            </div>
            
        </ul>
        
    </div>
</div>