<!-- informacion de la barra inferior  -->

<footer>
    <div class="container"> <!--afectará a todos los elementos dentro del contenedor <div>-->
        <div class="row">  <!-- filas y columnas -->
            <div class="col-6">
                <div class="row">
                    <p class="text-white">
                        CONTACTO <i class='fa-solid fa-pen-to-square'></i> <!-- iconos  -->
                    </p>
                </div>
                <div class="row">
                    <p class="text-white">
                        <i class='fas fa-search-location' style='color: white'></i> Popayán Cl 4 N° 8-30 Centro Histórico 
                    </p>
                    <p class="text-white">
                        <i class='fa fa-phone' style='color: white'></i> Tel:(602) 8386000 Ext. 113
                    </p>
                    <p class="text-white">
                        <i class='fa fa-envelope-o'></i> contacto@unicomfacauca.edu.co
                    </p>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <p class="text-white">
                        Cuidamos su Salud <i class='fas fa-clinic-medical'></i>
                    </p>
                    <p class="text-white">
                        &copy; {{autor.nombre}}
                    </p>            
                    <p class="text-white">
                        &copy;Todos los Derechos Reservados
                    </p>
                    <p class="text-white">
                        &copy;2023
                    </p>
                </div>
            </div>
        </div>       
    </div>       
</footer>
           