<a name="arriba"></a>
<app-navbar></app-navbar>
<body class="someClass">
    <div>
        <div>
            <div>
                <div>
                    <div id="asm-page-general" class="asm-element-loaded">
                        <div class="container-fluid mb-5" >
                            <div class="asm-menu-single row">
                                <div
                                    class="col-12 col-sm-4 main-container bg-black-alpha text-white-alpha d-flex flex-column py-3">
                                     <!-- <p>MIGA DE PAN </p>-->

                                    <p>
                                        <btn class="btn btn-secondary ovalado text-white-alpha" [routerLink]="'/'">Inicio</btn> 
                                        <btn class="btn btn-secondary ovalado text-white-alpha" [routerLink]="'/nosotros'">Nosotros</btn> 
                                    </p>
                                    <div class="card bg-black-alpha border-0 rounded-0">
                                        <div class="card-body">
                                            <h1 class="card-title text-600 mb-4"> ¿Quiénes Somos?</h1>
                                            <p class="card-text">Mediclic Es un Software de historia clínica
                                                electrónica agiliza la introducción de datos, automatiza el diagnóstico
                                                y la selección del código CPT, minimiza los registros en papel, reduce
                                                costes de transcripción, ofrece historiales actualizados, reduce el
                                                tiempo de respuesta en visitas del paciente y recupera resultados de
                                                laboratorio.</p>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="col-12 col-sm-4 links-container bg-gray-alpha d-flex align-items-center px-3 px-sm-5">
                                    <ul>
                                        <li class="pl-3"><a class="" href="/nosotros">Misión / Visión</a>
                                        </li>
                                        <li class="pl-3"><a class="" href="/nosotros">Valores
                                                Corporativos</a></li>
                                        <li class="pl-3"><a class="" href="/nosotros">Organigrama</a></li>
                                        <li class="pl-3"><a class="" href="/nosotros">Portafolio
                                                de servicios</a></li>
                                        <li class="pl-3"><a class="" href="/nosotros">Nuestras
                                                Políticas</a></li>
                                        <li class="pl-3"><a class="" href="/nosotros">Presencia
                                                Nacional</a></li>
                                        <li class="pl-3"><a class="" href="/nosotros">Transformación Empresarial</a>
                                        </li>
                                        <li class="pl-3"><a class="" href="/nosotros">RSE</a></li>
                                    </ul>
                                </div>
                                <div class="col-12 col-sm-4 img-container bg-gray-alpha-beta p-0"><img
                                        src="assets/medico2.jpg" alt="¿Quiénes Somos?" style="max-height: 480px;"></div>
                            </div>
                        </div>

                        <div class="container my-5">
                            <div class="row justify-content-center">
                                <div class="col-12 col-sm-8">
                                    <div class="asm-accordion-lists">
                                    <div class="card">
                                    <div class="card-header p-0" id="heading20"><a
                                        class="btn btn-link rounded-0 btn-block text-left " role="button"
                                        data-toggle="collapse" data-target="#collapse20"
                                        aria-expanded="true" aria-controls="collapse20">Vision<i class="fa fa-angle-down float-right"></i></a></div>
                                    <div class="asm-ckeditor-html bg-gray-alpha ">
                                        <p style="text-align: justify;">Con el pasar de los años hemos afrontado grandes
                                            desafíos y obtenido grandes resultados que nos han permitido mantenernos
                                            como una entidad líder en el sector salud, gracias al apoyo de nuestros
                                            asociados, afiliados, equipo de trabajo, entes territoriales de salud y
                                            amigos con quienes se trabaja articuladamente.</p>
                                        <p style="text-align: justify;">Es un Software de historia clínica electrónica
                                            agiliza la introducción de datos, automatiza el diagnóstico y la selección
                                            del código CPT, minimiza los registros en papel, reduce costes de
                                            transcripción, ofrece historiales actualizados, reduce el tiempo de
                                            respuesta en visitas del paciente y recupera resultados de laboratorio</p>
                                        <p style="text-align: justify;">Estos años de colaboración mutua han reflejado
                                            nuestra cultura del servicio, que se basa en valores como la
                                            responsabilidad, la solidaridad y la integridad, los cuales se reflejan no
                                            sólo con nuestros afiliados sino al interior de nuestra organización,
                                            demostrando a lo largo de estos años que hemos sido capaces de adaptarnos a
                                            cada una de las circunstancias.</p>
                                    </div>
                                </div>
                            </div></div>
                            </div>
                        </div>

                        <div class="container my-5">
                            <div class="row justify-content-center">
                                <div class="col-12 col-sm-8">
                                    <div class="accordion asm-accordion-lists">
                                        <div class="card">
                                            <div class="card-header p-0"><a
                                                    class="btn btn-link rounded-0 btn-block text-left " role="button"
                                                    data-toggle="collapse" data-target="#collapse20"
                                                    aria-expanded="true" aria-controls="collapse20">Naturaleza
                                                    Jurídica<i class="fa fa-angle-down float-right"></i></a></div>
                                            <div id="collapse20" class="collapse show" aria-labelledby="heading20"
                                                data-parent="#accordionLists2">
                                                <div class="card-body pt-4 pb-5">
                                                    <div class="asm-ckeditor-html ">
                                                        <p style="text-align: justify;"><i>Mediclic</i></p>
                                                        <p style="text-align: justify;"><i>Administra recursos del
                                                                régimen subsidiado en salud, bajo un esquema de
                                                                aseguramiento, de conformidad con la ley 100 de 1993 y
                                                                normas reglamentarias, autorizada para entrar en
                                                                operación desde el&nbsp;01 de abril&nbsp;de 2018,
                                                                compuesta por los siguientes órganos sociales para su
                                                                dirección, administración y representación; Asamblea
                                                                General de Accionistas, Junta Directiva y Gerencia
                                                                General, con las facultades y atribuciones conferidas
                                                                por los estatutos y la ley.</i></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>

                
                <div class="asm-cookies-banner px-5 py-2 flex-column flex-md-row" *ngIf="!banderaPoliticas"
                    style="bottom: 0px;">
                    <div class="cookies-content">
                        <p class="mb-2 mb-md-0">En el portal de Mediclic utilizamos cookies y se puede
                            recolectar datos personales para brindarte nuestros servicios en línea y mejorar tu
                            experiencia como usuario. Haz click en el botón si estas de acuerdo con nuestras&nbsp;<a
                                class="text-light text-600" href="/nosotros">Políticas.</a>
                        </p>
                    </div>
                    <div class="cookies-actions"><button class="btn btn-danger py-0 py-md-2" id="rcc-confirm-button"
                            aria-label="Accept cookies" (click)="politica()">Estoy de acuerdo</button></div>
                </div>

            </div>
        </div>
    </div>
</body>
<a class="ir-arriba" href="/nosotros#arriba"><i class="fa fa-arrow-up"> </i></a>