.asm-cookies-banner {
    color: #fff;
    background-color: rgba(51,51,51,.8);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 75%;
    z-index: 999;
}

.ovalado{
    border-radius: 27px;
}

.ir-arriba{
    width: 50px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #14A44D;
    background-repeat:no-repeat;
    font-size:20px;
    border-radius: 50%;
    color:white;
    cursor:pointer; 
    position:fixed; 
    bottom:50px;
    right:50px;
    z-index:2;
  }


#asm-page-general .asm-menu-single .main-container {
    padding-left: 9rem;
}
.bg-black-alpha {
    background-color: #333;
}

.text-white-alpha {
    color: #fff;
}


.bg-gray-alpha {
    background-color: #e1e1e1;
}

.asm-menu-single .links-container ul li a {
    color: #4d4d4d;
}
a {
    transition: all .5s ease;
}
a {
    color: #00a2a5;
    text-decoration: none;
    background-color: transparent;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
user agent stylesheet
li {
    text-align: -webkit-match-parent;
}


.bg-gray-beta {
    background-color: #bdbdbd;
}

element.style {
    max-height: 480px;
}
#asm-page-general .asm-menu-single .img-container img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
img, svg {
    vertical-align: middle;
}
img {
    border-style: none;
}
*, :after, :before {
    box-sizing: border-box;
}

#asm-page-general .asm-accordion-lists .card .card-header a[aria-expanded=true] {
    color: #fff;
    background-color: #00a2a5;
}
#asm-page-general .asm-accordion-lists .card .card-header a {
    font-weight: 500;
    color: #333;
    padding: 1.125rem 2rem;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
a:active, a:focus, a:hover, a:visited {
    box-shadow: none!important;
    text-decoration: none!important;
}
.btn {
    font-weight: 500;
}
.text-left {
    text-align: left!important;
}
.rounded-0 {
    border-radius: 0!important;
}
.btn-block {
    display: block;
    width: 100%;
}
.btn-link {
    font-weight: 400;
    color: #00a2a5;
    text-decoration: none;
}


[role=button] {
    cursor: pointer;
}

a {
    transition: all .5s ease;
}
a {
    color: #00a2a5;
    text-decoration: none;
    background-color: transparent;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.collapse:not(.show) {
    display: none;
}
:after, :before {
    box-sizing: border-box;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.float-right {
    float: right!important;
}
*, :after, :before {
    box-sizing: border-box;
}
user agent stylesheet
i {
    font-style: italic;
}
#asm-page-general .asm-accordion-lists .card .card-header a[aria-expanded=true] {
    color: #fff;
    background-color: #00a2a5;
}

