<!-- registrarse -->

<app-navbar></app-navbar>
<div>
  <div class = "container">
    <div class = "row" style = "margin-top : 30px;">
      <div class = "col-md-10 offset-md-1"> <!--  dimensiones -->
        
        <mat-card>
        <div class="container text-center">
          <div class="ovalado" align="right">
            <button type="button" (click)="exit()" class="btn btn-secondary ovalado">
                <i class="fa fa-times"></i></button>
          </div>
          <img src="../../../assets/icon.png" alt="registro de usuario" width = "100" height = "100">
        </div>
        
        <h1 class="text-center">Registrate aqui</h1>


        <form #myForm="ngForm" (ngSubmit) = "formSubmit()">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field class="full-width"  appearance = "outline">
                <mat-label>Usuario</mat-label>
                <input type="text" required [(ngModel)]= "user.username" name = "username" pattern="^[a-zA-Z0-9]+$"  matInput placeholder="Digite su usuario">
                <mat-hint>El usuario debe ser único</mat-hint>
              </mat-form-field>
    
              <mat-form-field class="full-width"  appearance = "outline">
                <mat-label>Contraseña</mat-label>
                <input  required [(ngModel)] = "user.password" name = "password" type = "password" matInput placeholder="Minimo 8 y maximo 20 caracteres" minlength="8" maxlength="20" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]+$">
                <mat-hint>La contraseña debe contener al menos una letra minúscula,  <br> una letra mayúscula, un dígito y un carácter especial.</mat-hint>
              </mat-form-field>
              <p></p>
              <mat-form-field class="full-width"  appearance = "outline">
                <mat-label>Nombre</mat-label>
                <input type="text" pattern="^[a-zA-Z ]+$" required [(ngModel)] = "user.nombre" name = "nombre" matInput placeholder="Digite su nombre">
              </mat-form-field>
    
              <mat-form-field class="full-width"  appearance = "outline">
                <mat-label>Apellido</mat-label>
                <input type="text" pattern="^[a-zA-Z ]+$" required [(ngModel)] = "user.apellido" name = "apellido" matInput placeholder="Digite su apellido">
              </mat-form-field>
    
              <mat-form-field class="full-width"  appearance = "outline">
                <mat-label>Identificacion</mat-label>
                <input type="number" pattern="^[0-9]+$" required [(ngModel)] = "user.identificacion" name = "identificacion" matInput placeholder="Digite su identificacion">
              </mat-form-field>
    
              <mat-form-field class="full-width" appearance="outline">
                <input pattern="^[0-9/]+$"  matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento" name = "fecha_nacimiento"
                       (dateInput)="addFechadeNacimiento($event)" required>
                <mat-datepicker-toggle  matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
    
              <mat-form-field class="full-width"  appearance = "outline">
                <mat-label>Lugar de Nacimiento</mat-label>
                <input type="text" pattern="^[a-zA-Z, ]+$" required [(ngModel)] = "user.lugar_nacimiento" name = "lugar_nacimiento" matInput placeholder="Digite su lugar de nacimiento">
              </mat-form-field>

              <mat-form-field class="full-width"  appearance = "outline">
                <mat-label>Telefono</mat-label>
                <input type="number" pattern="^[0-9]+$" required [(ngModel)] = "user.telefono" name = "telefono" matInput placeholder="Digite su telefono">
              </mat-form-field>

            </div>

            <div class="col-md-6">

              
    
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Sexo</mat-label>
                <mat-select placeholder="Sexo" required [(ngModel)]="user.sexo" matInput name="sexo">
                    <mat-option value="Femenino">
                      Femenino
                    </mat-option>
                    <mat-option value="Masculino">
                        Masculino
                      </mat-option>
                  </mat-select>
            </mat-form-field>
    
              <mat-form-field class="full-width"  appearance = "outline">
                <mat-select placeholder="EPS" required [(ngModel)]="user.eps" matInput name="EPS">
                  <mat-option *ngFor="let EPS of listadoeps" [value]="EPS">
                    {{EPS}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
    
              <mat-form-field class="full-width"  appearance = "outline">
                <mat-label>Direccion</mat-label>
                <input type="text" pattern="^[a-zA-Z0-9-# ]+$" required [(ngModel)] = "user.direccion" name = "direcccion" matInput placeholder="Digite su direcccion">
              </mat-form-field>
                      
              <mat-form-field class="full-width" appearance="outline">
                <mat-label>Regimen</mat-label>
                <mat-select placeholder="Regimen" required [(ngModel)]="user.regimen" matInput name="regimen">
                    <mat-option value="Contributivo">
                      Contributivo
                    </mat-option>
                    <mat-option value="Subsidiado">
                        Subsidiado
                      </mat-option>
                  </mat-select>
            </mat-form-field>
    
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Estado Civil</mat-label>
              <mat-select placeholder="estado_civil" required [(ngModel)]="user.estado_civil" matInput name="estado_civil">
                  <mat-option value="Soltero">
                      Soltero
                  </mat-option>
                  <mat-option value="Casado">
                      Casado
                    </mat-option>
                    <mat-option value="Viudo">
                      Viudo
                  </mat-option>
                  <mat-option value="Divorciado">
                      Divorciado
                  </mat-option>
              </mat-select>
          </mat-form-field>

              <mat-form-field class="full-width"  appearance = "outline">
                <mat-label>Edad</mat-label>
                <input type="number" pattern="^[0-9]+$" required [(ngModel)] = "user.edad" name = "edad" type="edad" matInput>
              </mat-form-field>
    
              <mat-form-field class="full-width"  appearance = "outline">
                <mat-label>Email</mat-label>
                <input type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required [(ngModel)] = "user.email" name = "email" matInput placeholder="Digite su email">
              </mat-form-field>

              <div class="row">
                <div class="col-12 ovalado"  style = "margin-top : 20px;" align="center">
                    <button class="btn btn-success ovalado" [disabled]="myForm.invalid">Registrar</button>
                    <button class="btn btn-light ovalado" type="reset"
                        style="margin-left: 20px;">Limpiar</button>
                </div>
            </div>
            </div>                        
          </div>                       
        </form>
        <div class="row" align="center" style = "margin-top : 10px;">
          <p>Cultura del servicio para beneficio de nuestros Afiliados</p>
        </div>        
      </mat-card>
      </div>
    </div>
  </div>
</div>