<!--HOME-->
<app-navbar></app-navbar> <!--Es el menú principal / ARARECER EN TODAS LAS VENTANAS-->
  <div class="container">      
    <div class="wrapper"> <!--SCROL DE IMAGENES--><!--es una función que llama a una o varias funciones, unas veces únicamente por convenio y otras para adaptarlas con el objetivo de hacer una tarea ligeramente diferente-->
      <div class="slider" id="slider">
        <ul class="slides">
          <li class="slide" id="slide1">
            <a href="">
              <p class="caption text-center">Idoneos</p>
              <img src="assets\medico3.png" alt="Medicos Idoneos">
            </a>
          </li>
          <li class="slide" id="slide2">
            <a href="cita">
              <p class="caption">Responsables</p>
              <img src="assets\medicocita.png" alt="Medicos Responsables">
            </a>
          </li>
          <li class="slide" id="slide3">
            <a href="busqueda">
              <p class="caption text-center">Comprometidos</p>
              <img src="assets\medico4.png" alt="Medicos Comprometidos">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
    <mat-card>
      <div class="row">
        <div class="col-3 text-center">
          <h1>Nuestros Horarios <i class='fa fa-calendar-check-o'></i></h1>
          <p>Lunes - Viernes 8 a.m - 3 p.m <br>Sabados 8 a.m - 12 p.m</p>
          <br>
          <div align="center">
            <button class="btn btn-success ovalado" [routerLink]="'/cita'">Solicitar -></button>
          </div>
        </div>

        <div class="col-3 text-center">
          <h1>Medicos Especializados <i class='fas fa-briefcase-medical'></i></h1>
          <p>Contamos con medicos de alto prestigio y en continua formacion</p>
          <br>
          <div align="center">
            <button class="btn btn-success ovalado">Ver -></button>
          </div>
        </div>

        <div class="col-3 text-center">
          <h1>Solicita Informacion <i class='fa fa-at'></i></h1>
          <p>Envianos un E-mail con tus datos solicitando la informacion que deseas conocer al siguiente correo<br>
            <i class='fa fa-envelope-o'></i> contacto@unicomfacauca.edu.co
          </p>
        </div>

        <div class="col-3 text-center">
        <h1>Puntos de Atencion <i class='fas fa-briefcase-medical'></i></h1>
        <p>Cra 45 # 36-58
        <br>Popayan Cauca
      </p>
        <div align="center">
          <button class="btn btn-success ovalado" [routerLink]="'/nosotros'">Ir -></button>
        </div>
      </div>
    </div>
      
    </mat-card>
 