<!-- registrar medicos -->
<app-navbar></app-navbar>
<div class = "bootstrap-wrapper">
  <div class = "container">
    <div class = "row" style = "margin-top : 20px;">
      <div class = "col-md-6 offset-md-3">
        <mat-card>

        <div class="container text-center">
          
          <div class="col-12 ovalado" align="right">
            <button type="button" (click)="exit()" class="btn btn-secondary ovalado">
                <i class="fa fa-times"></i></button>
          </div>
          <img src="../../../assets/icon.png" width = "100" height = "100">
        </div>
        
        <h1 class="text-center">Registrar Medico</h1>


        <form (ngSubmit) = "formSubmit()">
          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Usuario</mat-label>
            <input required [(ngModel)] = "user.username" name = "username" matInput placeholder="Digite su usuario">
            <mat-hint>El usuario debe ser único</mat-hint>
          </mat-form-field>

          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Contraseña</mat-label>
            <input required [(ngModel)] = "user.password" name = "password" type = "password" matInput placeholder="Digite su contraseña">
          </mat-form-field>

          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Nombre</mat-label>
            <input required [(ngModel)] = "user.nombre" name = "nombre" matInput placeholder="Digite su nombre">
          </mat-form-field>

          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Apellido</mat-label>
            <input required [(ngModel)] = "user.apellido" name = "apellido" matInput placeholder="Digite su apellido">
          </mat-form-field>

          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Identificacion</mat-label>
            <input required [(ngModel)] = "user.identificacion" name = "identificacion" matInput placeholder="Digite su identificacion">
          </mat-form-field>
          
          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Email</mat-label>
            <input required [(ngModel)] = "user.email" name = "email" type="email" matInput placeholder="Digite su email">
          </mat-form-field>

          <mat-form-field class="full-width"  appearance = "outline">
            <mat-label>Telefono</mat-label>
            <input required [(ngModel)] = "user.telefono" name = "telefono" matInput placeholder="Digite su telefono">
          </mat-form-field>
          

          <div class="row">
            <div class="col-12 ovalado" align="center">
                <button class="btn btn-success ovalado">Registrar</button>
                <button class="btn btn-light ovalado" type="reset"
                    style="margin-left: 20px;">Limpiar</button>
            </div>
        </div>
        </form>
        
        <br><br><br>
      </mat-card>
      </div>
    </div>
  </div>
</div>
