/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
  margin: 0;
  bottom: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: center center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("assets/fondo1.jpg");
}

footer{
  background-color: rgb(36, 43, 43);
  padding: 1em 0;
  text-align: center;
  margin-top: auto;
}

.text-center{
  text-align: center;
}


.full-width{
  width: 100%;
}

.ml20{
  margin-left: 20px !important;
}

.mr20{
  margin-right: 20px !important;
}

.mt20{
  margin-top: 20px !important;
}

.mt60{
  margin-top: 60px !important;
}

.mb20{
  margin-bottom: 20px !important;
}

.ml10{
  margin-left: 10px !important;
}

.mr10{
  margin-right: 10px !important;
}

.mt10{
  margin-top: 10px !important;
}

.mb10{
  margin-bottom: 10px !important;
}

.ml70{
  margin-left: 70px !important;
}
