<!-- consultar historia clinica -->

<a name="arriba"></a>
<app-navbar></app-navbar>
<div class="container1" style="margin-top : 50px;">
    <div class="row">        
        <form [formGroup]="consulta">
            <div class="col-md-6 offset-md-3 col-header"> <!--tamaño del formulario-->
                <!-- medico -->
                <div class="card " *ngIf="bandera==false" align="center">
                    <div class="card-body">
                        <div class="row" align="left">
                            <p>
                                <btn class="btn btn-light ovalado text-black-alpha" [routerLink]="'/'">Inicio</btn>
                                <btn class="btn btn-light ovalado text-black-alpha" [routerLink]="'/busqueda'">Busqueda</btn>
                            </p>
                        </div>
                        <div class="row">
                            <h2 class="card-title text-success text-center">
                                <b>Consultar Historia Clinica <i class="fa-solid fa-magnifying-glass"></i></b>
                            </h2>
                        </div>
                        <div class="col-md-6">
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="font-w text-olive">
                                        <th class="form-label text-success text-center">Identificacion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="font-weight-normal font-w ">
                                        <td>
                                            <input type="text" class="form-control input-config" 
                                                formControlName="identificacionbusqueda" name="identificacionbusqueda"
                                                id="identificacionbusqueda" required minlength="2" (change)="consultahc()">
                                        </td>
                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="btn1 col-6" align="left"><button type="button" (click)="consultahc()"
                                    class="btn btn-success ovalado align=left">
                                    <i class="fas fa-search"></i></button>
                            </div>
                            <div class="btn1 col-6" align="right" ><button type="button" (click)="exit()"
                                    class="btn btn-success ovalado">
                                    <i class="fa fa-times"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- medico - paciente -->
            <div class="col-md-10 offset-md-1 card" *ngIf="bandera">
                <div class="card-body">
                    <div class="row">
                        <p>
                            <btn class="btn btn-light ovalado text-black-alpha" [routerLink]="'/'">Inicio</btn>
                            <btn class="btn btn-light ovalado text-black-alpha" [routerLink]="'/busqueda'">
                                Busqueda</btn>
                        </p>
                        <h2 class="card-title text-success text-center">
                            Tienes <b>{{this.totalH}} </b>Historias clinicas en archivo
                        </h2>
                    </div>
                    <div class="col-md-12 text-left">
                        <div class="col-sm-12 d-flex align-items-stretch flex-column"
                            *ngFor="let item of historiasC|page:page;let i= index"> <!--rrecorrido las historias de la cedula-->
                            <div class="row">
                                <h2 class="card-title text-success text-center">
                                    <b>Historia Clinica No {{item.id}}</b>
                                </h2>
                            </div>
                            <p>1. IDENTIFICACION</p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="font-w text-dark">
                                        
                                        <th class="form-label text-dark text-center">Nombres</th>
                                        <th class="form-label text-dark text-center">Apellidos</th>
                                        <th class="form-label text-dark text-center">Identificacion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="form-label text-dark text-center">
                                        
                                        <td class="font-w text-dark">
                                            {{item.nombre}}
                                        </td>
                                        <td class="font-w text-dark">
                                            {{item.apellido}}
                                        </td>
                                        <td class="font-w text-dark">
                                            {{item.identificacion}}
                                        </td>
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="font-w text-dark">
                                        <th class="form-label text-dark text-center">Fecha de Nacimiento</th>
                                        <th class="form-label text-dark text-center">Lugar de Nacimiento</th>
                                        <th class="form-label text-dark text-center">Edad</th>
                                        <th class="form-label text-dark text-center">Sexo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="form-label text-dark text-center">
                                        <td class="font-w text-dark">
                                            {{item.fecha_nacimiento}}
                                        </td>
                                        <td class="font-w text-dark">
                                            {{item.lugar_nacimiento}}
                                        </td>
                                        <td class="font-w text-dark">
                                            {{item.edad}}
                                        </td>
                                        <td class="font-w text-dark">
                                            {{item.sexo}}
                                        </td>
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="font-w text-dark">
                                        <th class="form-label text-dark text-center">EPS</th>
                                        <th class="form-label text-dark text-center">Direccion</th>
                                        <th class="form-label text-dark text-center">Departamento</th>
                                        <th class="form-label text-dark text-center">Municipio</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="form-label text-dark text-center">
                                        <td class="font-w text-dark">
                                            {{item.eps}}
                                        </td>
                                        <td class="font-w text-dark">
                                            {{item.direccion}}
                                        </td>
                                        <td class="font-w text-dark">
                                            {{item.departamento}}
                                        </td>
                                        <td class="font-w text-dark">
                                            {{item.municipio}}
                                        </td>
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="font-w text-dark">
                                        <th class="form-label text-dark text-center">Regimen</th>
                                        <th class="form-label text-dark text-center">Estado Civil</th>
                                        <th class="form-label text-dark text-center">Email</th>
                                        <th class="form-label text-dark text-center">Telefono</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="form-label text-dark text-center">
                                        <td class="font-w text-dark">
                                            {{item.regimen}}
                                        </td>
                                        <td class="font-w text-dark">
                                            {{item.estado_civil}}
                                        </td>
                                        <td class="font-w text-dark">
                                            {{item.email}}
                                        </td>
                                        <td class="font-w text-dark">
                                            {{item.telefono}}
                                        </td>
                                </tbody>
                            </table>

                            <p>2. Motivo de consulta </p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="font-w text-dark">
                                        <th class="form-label text-dark text-center">Motivo de consulta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="form-label text-dark text-center">
                                        <td class="font-w text-dark">
                                            {{item.motivo_consulta}}
                                        </td>
                                </tbody>
                            </table>

                            <p>3.  Examen Fisico por Sistemas </p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="font-w text-dark">
                                        <th class="form-label text-dark text-center">Sistema Neurologico</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="form-label text-dark text-center">
                                        <td class="font-w text-dark">
                                            {{item.examen_fisico_Neurologico}}
                                        </td>
                                </tbody>
                            </table>

                            <p>4. Signos Vitales </p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="font-w text-dark">
                                        <th class="form-label text-dark text-center">Presion Arterial /mmHg</th>
                                        <th class="form-label text-dark text-center">Frecuencia Cardiaca /lpm</th>
                                        <th class="form-label text-dark text-center">Frecuencia Respiratoria /rpm</th>
                                        <th class="form-label text-dark text-center">Temperatura /C°</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="form-label text-dark text-center">
                                        <td class="font-w text-dark">
                                            {{item.presion_arterial}}
                                        </td>
                                        <td class="font-w text-dark">
                                            {{item.frecuencia_cardiaca}}
                                        </td>
                                        <td class="font-w text-dark">
                                            {{item.frecuencia_respiratoria}}
                                        </td>
                                        <td class="font-w text-dark">
                                            {{item.temperatura}}
                                        </td>
                                </tbody>
                            </table>
                            <p>5. Medidas antropomedicas </p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="font-w text-dark">
                                        <th class="form-label text-dark text-center">Peso</th>
                                        <th class="form-label text-dark text-center">Talla</th>
                                        <th class="form-label text-dark text-center">IMC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="form-label text-dark text-center">
                                        <td class="font-w text-dark">
                                            {{item.peso}}
                                        </td>
                                        <td class="font-w text-dark">
                                            {{item.talla}}
                                        </td>
                                        <td class="font-w text-dark">
                                            {{item.imc}}
                                        </td>
                                </tbody>
                            </table>
                            <p>6. Evolucion</p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="font-w text-dark">
                                        <th class="form-label text-dark text-center">Evolucion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="form-label text-dark text-center">
                                        <td class="font-w text-dark">
                                            {{item.evolucion}}
                                        </td>
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="font-w text-dark">
                                        <th class="form-label text-dark text-center">7. Diagnostico 
                                        </th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="form-label text-dark text-center">                                        
                                        <td class="font-w text-dark" >
                                            <mat-accordion *ngFor="let item1 of listdiagnosticos;let f= index">
                                                    <mat-expansion-panel hideToggle>
                                                        <mat-expansion-panel-header>
                                                          <mat-panel-title>
                                                              {{item1.diagnostico.descripcion}}
                                                          </mat-panel-title>
                                                          <mat-panel-description>
                                                              codigo: {{item1.diagnostico.codigo_diagnostico}}
                                                          </mat-panel-description>
                                                        </mat-expansion-panel-header>
                                                        <p>id : {{item1.diagnostico.id}}</p>
                                                      </mat-expansion-panel>
                                                      <mat-expansion-panel (opened)="panelOpenState = true"
                                                                           (closed)="panelOpenState = false">
                                                      </mat-expansion-panel>                                                                                                                                                                                                      
                                            </mat-accordion>                                                           
                                        </td>                                        
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="font-w text-dark">
                                        <th class="form-label text-dark text-center">8. Tratamiento/Medicamentos 
                                        </th>                                        
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="form-label text-dark text-center">                                        
                                        <td class="font-w text-dark" >
                                            <mat-accordion *ngFor="let item1 of listtratamientos;let f= index">
                                                    <mat-expansion-panel hideToggle (opened)="panelOpenState = true">
                                                        <mat-expansion-panel-header>
                                                          <mat-panel-title>
                                                              {{item1.tratamiento.descripcionatc}}
                                                          </mat-panel-title>
                                                          <mat-panel-description>
                                                            Principio Activo : {{item1.tratamiento.producto}}
                                                          </mat-panel-description>
                                                        </mat-expansion-panel-header>
                                                        <p> {{item1.tratamiento.descripcioncomercial}}</p>
                                                      </mat-expansion-panel>
                                                      <mat-expansion-panel (opened)="panelOpenState = true"
                                                                           (closed)="panelOpenState = false">
                                                      </mat-expansion-panel>                                                                                                                                                                                                      
                                            </mat-accordion>                                                           
                                        </td>                                        
                                </tbody>
                            </table>

                            <p>9. Observaciones y Recomendaciones</p>
                            <table class="table table-bordered">
                                <thead>
                                    <tr class="font-w text-dark">
                                        <th class="form-label text-dark text-center">Observaciones</th>
                                        <th class="form-label text-dark text-center">Recomendaciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="form-label text-dark text-center">
                                        <td class="font-w text-dark">
                                            {{item.observaciones}}
                                        </td>
                                        <td class="font-w text-dark">
                                            {{item.recomendaciones}}
                                        </td>
                                </tbody>
                            </table>

                        </div>
                        <div class="row">
                            <div class="col-12" align="center" *ngIf="totalH>0">
                                <button class="btn bg-gradient-ligth btn" (click)="pageChange(0)" tooltip="Inicio"><i
                                        class="fas fa-angle-double-left"></i>
                                </button>&nbsp;
                                <button class="btn bg-gradient-ligth btn" (click)="prevPage()" tooltip="Anterior"><i
                                        class="fas fa-angle-left"></i>
                                </button>&nbsp;
                                <div class=" btn bg-gradient-olive btn "> {{math((page/rowsOnPage))+1}} <!--NUMERO DE PAGINA-->
                                </div>&nbsp;
                                <button class="btn bg-gradient-ligth btn" (click)="nextPage()" tooltip="Siguiente"><i
                                        class="fas fa-angle-right"></i>
                                </button>&nbsp;
                                <button class="btn bg-gradient-ligth btn"
                                    (click)="pageChange(((math((totalH/rowsOnPage))*rowsOnPage)-rowsOnPage))"
                                    tooltip="Final"><i class="fas fa-angle-double-right"></i>
                                </button>&nbsp;
                            </div>
                            <div class="col-12" align="right">
                                <button type="button" class="btn btn-success ovalado" data-dismiss="modal"
                                    arial-label="close" (click)="exit()" tooltip="Cancelar">
                                    <i class="fa fa-times"></i>
                                </button>&nbsp;
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<a class="ir-arriba ovalado" *ngIf="bandera!=false" href="/busqueda#arriba"><i class="fa fa-arrow-up"></i></a>

