.ovalado{
    border-radius: 27px;
}

.margent-select{
    margin: 10px 25em 0 25em; 
}

.redondoBTN{
    border-radius: 30%;
}

.mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
  }

  .ir-arriba{
    width: 50px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #14A44D;
    background-repeat:no-repeat;
    font-size:20px;
    border-radius: 50%;
    color:white;
    cursor:pointer; 
    position:fixed; 
    bottom:50px;
    right:50px;
    z-index:2;
  }
  

.obligatorio{
    color: red;
    
}

.text-white-alpha {
    color: rgb(0, 0, 0);
}

.content-header{
    margin: 4em;
}

.margen-card{
    margin-top: 30px;
}

.margen-introCard{
    margin-left: 2px;
}
.linea {
    height: 10px;
    width: 97%;
    margin: 0 auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.linea-CardDos {
    height: 10px;
    width: 101%;
    margin: 0 auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: -5px;
}

div.scroll {
    width: 105%;
    height: 550px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
}

@media screen and (max-width: 767px) {
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 50%;
        padding-bottom: 10px;
    }
    .tarj{
        margin-left: 1%;
    }
}
.rojo{
    color: red;
}

.container1{
    padding: 50px;
    margin: auto;
    background-color: rgba(255, 255, 255, 0); /*contenedor*/
    width: 90%;
    justify-content: center;
    align-items: center;
  }